@font-face {
    font-family: "CustomFont";
url("../fonts/Cagliostro-Regular.ttf") format("ttf"),
}

body {
    margin: 0;
    font-family: CustomFont, serif;
    font-size: medium;
    background: lightgray;
    background-size: cover;
}

.page {
    margin: 25px 50px 25px 50px;
    padding: 30px 20px 30px 20px;
    border-radius: 20px;
    background: white;
}

/****** HEADER ******/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #efefef4d;
    padding: 20px 0 70px 0;
}

    /**** Name Title ****/

    .alexName {
        display: flex;
        flex-direction: row;
        width: 48%;
        margin: 5px 0 0 12px;
    }

        .alexName img {
            width: 10%;
        }

        .alex {
            font-weight: bold;
        }

    /**** Navigation Menu ****/

    .navMenu{
        display: flex;
        flex-direction: row;
        width: 48%;
        justify-content: flex-end;
        margin-top: 10px;
    }
        .navMenu a{
            text-decoration: none;
            color: #615f5f;
            margin-right: 20px;
        }
            .navMenu a:hover{
                color: #131313;
            }

    /**** Presentation Section ****/

    .presentation {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

        .presentation img {
            width: 300px;
            border-radius: 50%;
            height: 300PX;
            border: 10px solid white;
        }

        .title {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 35%;
            margin-left: 40px;
        }
            .title a{
                border: #2196F3 solid 3px;
                border-radius: 25px;
                padding: 10px;
                text-align: center;
                text-decoration: none;
                color: black;
                margin-top: 10px;
            }
                .title a:hover{
                    background: white;
                    font-weight: bold;
                }

            .title p{
                margin-top: 0;
            }

/****** CONTAINER ******/

.competences {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    .competences article{
        width: 45%;
        display: flex;
        flex-direction: row;
        margin-left: 34px;
    }

    .competences article p{
        color: #676767;
    }

    .java{
        display: flex;
        flex-direction: row;
    }
        .fa-pencil, .fa-laptop, .fa-home, .fa-phone{
            margin-top: 1.2em;
            font-size: 2em;
            color: #2196F3;
        }

        .java-article, .cpp-article, .agilite-article, .relation-article{
            margin-left: 15px;
        }

    h3{
        margin-top: 40px;
    }

    .slide1, .slide2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .avisBugttons{
        text-align: center;
    }
        .avisBugttons button{
            border: none;
            border-bottom: solid lightgray 3px;
            width: 3em;
        }
            .avisBugttons button:hover{
                border-bottom: solid #2196F3 5px;
            }
            .avisBugttons button:focus{
                outline: none;
            }

    .slide2{
        display: none;
    }
        .avis article{
            width: 48%;
            margin: 40px 0 40px 34px;
            position: relative;
            padding: 30px 20px 20px 35px;
        }
        .avisRelat{
            border: 2px lightgrey solid;
            border-radius: 6px;
            padding: 30px 20px 20px 35px;
            display: flex;
            flex-direction: row;
        }
            .avisRelat i{
                align-self: center;
                width: 10%;
                font-size: 1.3em;
            }
            .avisRelat div{
                width: 90%;
            }
            .fa-quote-right{
                position: absolute;
                bottom: -2%;
                right: -1%;
                font-size: -webkit-xxx-large;
            }

        .avis article p{
            color: #676767;
        }

        .avis article i{
            color: #e0e0e0;
        }

        .avis img:first-child{
            border-radius: 50%;
            width: 85px;
            height: 85px;
        }
            .img1 {
                position: absolute;
                top: 0%;
                left: 0%;
            }
            .img2{
                position: absolute;
                top: 0%;
                left: 0%;
            }

    .stories {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
        .stories article{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 24%;
            padding: 15px 30px 15px 30px;
            border: solid 2px lightgrey;
            margin: 40px 34px 40px 34px;
            text-align: center;
            border-radius: 9px;
        }
            .stories article i{
                font-size: 2em;
                color: #2196F3;
            }
            .stories article p{
                font-size: 2em;
                color: lightgrey;
                margin: 0;
            }

h2{
    margin-bottom: 0;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(45deg, #03A9F4 0 16%, lightgray 16% 100%);
    border-image-slice: 1;
    display: inline-block;
}

/****** FOOTER ******/

footer{
    display: flex;
    flex-direction: row;
    border-top: solid 2px #676767;
}
    footer nav{
        display: flex;
        align-items: center;
        width: 48%;
    }
        footer nav a{
            padding-right: 20px;
            text-decoration: none;
            color: #615f5f;
        }
            footer nav a:hover{
                color: #131313;
            }

    footer p{
        display: flex;
        justify-content: flex-end;
        width: 48%;
        color: #615f5f;
    }